<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>Speech Recognition</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>CantataOne-Regular.ttf</string>
		<string>NotoSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSans-VariableFont_wdth,wght.ttf</string>
	</array>
</dict>
</plist>
